:root{
    --black      : rgb(0 0 0);
    --white      : rgb(255 255 255);
    --slate-50   : rgb(248 250 252);
    --slate-100  : rgb(241 245 249);
    --slate-200  : rgb(226 232 240);
    --slate-300  : rgb(203 213 225);
    --slate-400  : rgb(148 163 184);
    --slate-500  : rgb(100 116 139);
    --slate-600  : rgb(71 85 105);
    --slate-700  : rgb(51 65 85);
    --slate-800  : rgb(30 41 59);
    --slate-900  : rgb(15 23 42);
    --slate-950  : rgb(2 6 23); 
    --gray-50    : rgb(249 250 251);
    --gray-100   : rgb(243 244 246);
    --gray-200   : rgb(229 231 235);
    --gray-300   : rgb(209 213 219);
    --gray-400   : rgb(156 163 175);
    --gray-500   : rgb(107 114 128);
    --gray-600   : rgb(75 85 99);
    --gray-700   : rgb(55 65 81);
    --gray-800   : rgb(31 41 55);
    --gray-900   : rgb(17 24 39);
    --gray-950   : rgb(3 7 18);
    --orange-50  : rgb(255 247 237);
    --orange-100 : rgb(255 237 213);
    --orange-200 : rgb(254 215 170);
    --orange-300 : rgb(253 186 116);
    --orange-400 : rgb(251 146 60);
    --orange-500 : rgb(249 115 22);
    --orange-600 : rgb(234 88 12);
    --orange-700 : rgb(194 65 12);
    --orange-800 : rgb(154 52 18);
    --orange-900 : rgb(124 45 18);
    --orange-950 : rgb(67 20 7);
    --green-50	 : rgb(240 253 244);
    --green-100	 : rgb(220 252 231);
    --green-200	 : rgb(187 247 208);
    --green-300	 : rgb(134 239 172);
    --green-400	 : rgb(74 222 128);
    --green-500	 : rgb(34 197 94);
    --green-600	 : rgb(22 163 74);
    --green-700	 : rgb(21 128 61);
    --green-800	 : rgb(22 101 52);
    --green-900	 : rgb(20 83 45);
    --green-950	 : rgb(5 46 22);
}

button.active{
    background-color: var(--green-600);
}
 .tab-content:not(.active) {
display: none;
}
.tab-content.active {
display: block;
}

form label:has(input:checked + .content) {
    background-color: var(--orange-600);
  }

  .tab-content > .appointment + .appointment{
    margin-top: 1.5rem;
  }
  .appointment{
    display: flex;
    align-items: center;
  }
  .appointment .time{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }
  .appointment .time:nth-child(1){
    font-size: 1.25rem; 
    line-height: 1.75rem;
    font-weight: 600;
  }
  .appointment .time:nth-child(2){
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--gray-400);
  }
  .appointment .details {
    display: flex;
    width: 80%;
    background-color: var(--orange-400);
    padding: 1rem;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
  }
  .appointment .details img{
    border-radius: 100%;
  }
  .appointment .details p{
    font-weight: 700;
    font-size: 1.5rem; 
    line-height: 2rem;
  }


  .date{
    display: flex;
    flex-direction: column;
    background-color: var(--green-400);
    align-items: center;
    padding: 0.5rem; 
    border-radius: 0.5rem;
    min-width: 4rem; 
  }

    .date:hover {
        background-color: var(--green-500)
    }