:root{
  --black      : rgb(0 0 0);
  --white      : rgb(255 255 255);
  --slate-50   : rgb(248 250 252);
  --slate-100  : rgb(241 245 249);
  --slate-200  : rgb(226 232 240);
  --slate-300  : rgb(203 213 225);
  --slate-400  : rgb(148 163 184);
  --slate-500  : rgb(100 116 139);
  --slate-600  : rgb(71 85 105);
  --slate-700  : rgb(51 65 85);
  --slate-800  : rgb(30 41 59);
  --slate-900  : rgb(15 23 42);
  --slate-950  : rgb(2 6 23); 
  --orange-50  : rgb(255 247 237);
  --orange-100 : rgb(255 237 213);
  --orange-200 : rgb(254 215 170);
  --orange-300 : rgb(253 186 116);
  --orange-400 : rgb(251 146 60);
  --orange-500 : rgb(249 115 22);
  --orange-600 : rgb(234 88 12);
  --orange-700 : rgb(194 65 12);
  --orange-800 : rgb(154 52 18);
  --orange-900 : rgb(124 45 18);
  --orange-950 : rgb(67 20 7);
}

main {
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main dialog {
  background-color: var(--orange-500);
  border-radius: 10px;
  padding: 2rem 3rem;
  border: 5px solid var(--slate-950);
}
main dialog h1 {
  margin-top: 0;
  color: var(--slate-950);
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
main dialog form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main dialog::backdrop {
  background-color: var(--slate-50);
  opacity: 0.2;
}
main ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  min-width: 50rem;
}
main ul li {
  position: relative;
  padding: 1rem;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  gap: 1rem;
}
main ul li::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  content: "";
  background: var(--slate-200);
  border-radius: 100vmax;
  height: 1px;
}
main ul li p {
  flex-grow: 1;
}
main ul li:hover {
  background-color: rgb(250 250 250 / 0.1);
}
main ul li .status {
  background-color: var(--orange-500);
  padding-block: 0.4rem;
  padding-inline: 1rem;
  border-radius: 100vmax;
}