:root{
  --black      : rgb(0 0 0);
  --white      : rgb(255 255 255);
  --slate-50   : rgb(248 250 252);
  --slate-100  : rgb(241 245 249);
  --slate-200  : rgb(226 232 240);
  --slate-300  : rgb(203 213 225);
  --slate-400  : rgb(148 163 184);
  --slate-500  : rgb(100 116 139);
  --slate-600  : rgb(71 85 105);
  --slate-700  : rgb(51 65 85);
  --slate-800  : rgb(30 41 59);
  --slate-900  : rgb(15 23 42);
  --slate-950  : rgb(2 6 23); 
  --orange-50  : rgb(255 247 237);
  --orange-100 : rgb(255 237 213);
  --orange-200 : rgb(254 215 170);
  --orange-300 : rgb(253 186 116);
  --orange-400 : rgb(251 146 60);
  --orange-500 : rgb(249 115 22);
  --orange-600 : rgb(234 88 12);
  --orange-700 : rgb(194 65 12);
  --orange-800 : rgb(154 52 18);
  --orange-900 : rgb(124 45 18);
  --orange-950 : rgb(67 20 7);
}

main {
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 25rem;
  max-width: 50rem;
  width: 100%;
}
main ul li {
  padding: 1rem;
  transition: background-color 200ms;
  display: flex;
  align-items: center;  
  flex-direction: row;
  gap: 1rem;
  border-bottom: var(--white) 1px  solid;
  max-width:100%;
}
@media screen and (max-width:500px) {
  main ul li{
    flex-direction: column;
  }
}
main ul li p {
  flex-grow: 1;
}
main ul li .status {
  background-color: var(--orange-500);
  padding-block: 0.4rem;
  padding-inline: 1rem;
  border-radius: 100vmax;
}