:root{
  --black      : rgb(0 0 0);
  --white      : rgb(255 255 255);
  --slate-50   : rgb(248 250 252);
  --slate-100  : rgb(241 245 249);
  --slate-200  : rgb(226 232 240);
  --slate-300  : rgb(203 213 225);
  --slate-400  : rgb(148 163 184);
  --slate-500  : rgb(100 116 139);
  --slate-600  : rgb(71 85 105);
  --slate-700  : rgb(51 65 85);
  --slate-800  : rgb(30 41 59);
  --slate-900  : rgb(15 23 42);
  --slate-950  : rgb(2 6 23); 
  --orange-50  : rgb(255 247 237);
  --orange-100 : rgb(255 237 213);
  --orange-200 : rgb(254 215 170);
  --orange-300 : rgb(253 186 116);
  --orange-400 : rgb(251 146 60);
  --orange-500 : rgb(249 115 22);
  --orange-600 : rgb(234 88 12);
  --orange-700 : rgb(194 65 12);
  --orange-800 : rgb(154 52 18);
  --orange-900 : rgb(124 45 18);
  --orange-950 : rgb(67 20 7);
}

body{
  color: var(--white);
  margin: 0;
  background-color: var(--slate-950);
}
main{
  margin-inline: 36px;
}
body:hover > #trailer {
    opacity: 1;
  }
  
  #trailer {
    height: 20px;
    width: 20px;
    background-color: var(--white);
    mix-blend-mode: difference;
    border-radius: 20px;  
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;  
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
  }
  
  @media (pointer: coarse) and (hover: none){
    #trailer {
        display: none;
    }
  }
  
  #hidden-nav {
    position: fixed;
    top: -100px; 
    left: 0;
    right: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform-origin: 50% 50% 0px;
  }
  
  .nav-visible {
    transform: translateY(125px); 
  }
  
  .nav-link {
    position: relative; 
  }
  
  .nav-link::after {
    content: '';
    height: 2px;
    background-color: var(--slate-100);
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0.75rem;
    transition: all .35s ease-in-out;
  }
  
  .nav-link:hover::after {
    width: 70%;
  }
  
  
  
  .bar {
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: all 0.3s ease;
  }
  
  .hamburger.active .bar1 {
    transform: rotate(45deg) translateY(9px) ;
    margin-left: 6px;
  }
  
  .hamburger.active .bar2 {
    transform: rotate(-45deg) translateY(-9px) ;
    margin-left: 6px;
  }
  
  .hamburger {
    position: absolute;
    top: 1.15rem;
    right: 1.15rem;
  }
  
  .hamburger-wrapper {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border-width: 1px;
    transition: all 500ms;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    
    
  }
  
  .wrapper-active {
    width: 20rem;
    height: 25rem;
    border-radius: 10%;
    transform: translateX(50%);
    right: 50%;
    max-width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgb(241 245 249 / 0.15);
  }
  
  @media screen and (max-width:320px) {
    .wrapper-active {
      width: 15rem;
    }
  }
  
  .mobile-nav {
    opacity: 0;
    transform: scaleY(0);
    transition: all .1s ease-in-out ;
    transform-origin: top;
  
  
  }
  
  .mobile-active {
    opacity: 1;
    transform: scaleY(1);
    transition: all 0.5s ease-in-out .2s;  
  }
  
  
  @media (any-hover: hover) {
    #trailer{
      display: block !important;
    }
  }
  
  @media screen and (min-width:768px) {
    .nav-responsive{
      display: none;
    }
    
    .desktop-nav{
      display: flex;
    }
  }
  
  @media screen and (max-width:768px) {
    .desktop-nav{
      display: none !important;
    }
    .nav-responsive{
      display: flex;
    }
    
  }
  
  .nav-responsive:has(.wrapper-active) .heading{
    display: none;
  }
  
  
  
  #nav-icon3 {
    width: 1.75rem;
    height: 1rem;
    position: absolute;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    top: 1.25rem;
    right: 1rem;
  
  }
  
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--slate-50);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 0.5rem;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 1rem;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 0.5rem;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 0.75rem;
    width: 0%;
    left: 50%;
  }
 
  

  .btn{
    cursor: pointer;
    border: var(--white) 2px solid;
    border-radius: 8px;
    padding: .5rem 3rem;
    transition: all 500ms;
  }
  .btn:hover{
    color: var(--orange-300);
  }

  input[type='text']{
    outline: 2px solid var(--orange-800);
    font: inherit;
    border-radius: 5px;
    color: --white;
    padding: .75rem .5rem;
    border: 0;
    background-color: var(--black);
    transition: background-color 200ms;
}

.btn-2{
  cursor: pointer;
  font-weight: 500;
  color: var(--white);
  border: var(--black) 2px solid;
  border-radius: 8px;
  padding: .5rem 2.5rem;
  transition: all 300ms;
}
.btn-2:hover{
  background-color: rgb(241 245 249 / 0.25);
}