body:hover > #trailer {
  opacity: 1;
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 20px;  
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;  
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}

@media (max-width: 768px) {
  #trailer {
      display: none;
  }
}

#hidden-nav {
  position: fixed;
  top: -100px; /* Start hidden above the viewport */
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.nav-visible {
  transform: translateY(125px); /* Slide down into view */
}

.nav-link {
  position: relative; /* Ensure the underline effect is relative to each link */
}

.nav-link::after {
  content: '';
  height: 2px;
  background-color: #dadada;
  width: 0;
  position: absolute;
  bottom: -5px;
  left: 0.75rem;
  transition: all .35s ease-in-out;
}

.nav-link:hover::after {
  width: 70%;
}
